# Tout sur les objets Series Pandas
- Lire le fichier "fandango_score_comparison.csv" dans un dataframe qu'on nommera fandango.
- Afficher les 2 premières lignes de fandango.

In [3]:
# les structures de données
# séries

# DataFrame

# Panels

In [2]:
import pandas as pd
fandango = pd.read_csv("fandango.csv")
fandango.head(2)

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5

## Indexage avec des entiers
- Sélectionner la colonne "FILM" et assigner la à la variable series_film puis afficher les 5 premières valeurs.
- Faire de même avec la colonne "RottenTomatoes" et assigner la à la variable series_rt puis afficher les 5 premières valeurs.

In [12]:
serie_film = fandango["FILM"]
serie_film.head()

0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object

In [13]:
serie_rt = fandango["RottenTomatoes"]
serie_rt.head()

0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64

## Personnaliser son indexage
- Créer un objet Series qu'on nommera series_custom qui aura un index de chaines de caractères (basé sur le nom des films qu'on assignera à la variable film_names) et contiendra toutes les notes RottenTomatoes de series_rt qu'on assignera à la variable rt_scores.
>- Attention de bien utiliser des listes de valeurs pour nos 2 paramètres de la méthode Series()
>- Ne pas oublier d'importer l'objet Series depuis pandas

In [14]:
#cours
#serie_film[5]

In [15]:
#serie_rt[5]

In [16]:
# series_custom[["Minions (2015)", "Leviatan (2014)"]]
# Series(data= Series.values, index=Series.values)

In [28]:
from pandas import Series
film_names = serie_film.values
rt_scores = serie_rt.values
series_custom = Series(rt_scores, index=film_names)
series_custom[['Ant-Man (2015)', 'Cinderella (2015)']]

Ant-Man (2015)       80
Cinderella (2015)    85
dtype: int64

In [27]:
series_custom[5:11]

The Water Diviner (2015)             63
Irrational Man (2015)                42
Top Five (2014)                      86
Shaun the Sheep Movie (2015)         99
Love & Mercy (2015)                  89
Far From The Madding Crowd (2015)    84
dtype: int64

## Réindexer un objet Series
- Créer la liste original_index contenant l'index actuel à partir de l'attribut index.
- Trier cet index en utilisant la méthode sorted() et assigner le résultat à la variable sorted_index.
- Puis appliquer la méthode reindex() à notre Series custom_series afin de réindexer selon l'index de sorted_index.
- Stocker le résultat dans la variable sorted_by_index.
- Afficher le résultat.

In [ ]:
# reindex()
# Retourner un liste d'index actuel, series_custom.index
# sorted()
# serie.reindex()

In [33]:
original_index = series_custom.index
sorted_index = sorted(original_index)
sorted_by_index = series_custom.reindex(sorted_index)
sorted_by_index

'71 (2015)                          97
5 Flights Up (2015)                 52
A Little Chaos (2015)               40
A Most Violent Year (2014)          90
About Elly (2015)                   97
                                    ..
What We Do in the Shadows (2015)    96
When Marnie Was There (2015)        89
While We're Young (2015)            83
Wild Tales (2014)                   96
Woman in Gold (2015)                52
Length: 146, dtype: int64

## Trier un objet Series
- Trier la Series series_custom par index en utilisant la méthode sort_index() et assigner le résultat à la variable sc2.
- Trier la Series series_custom par valeurs et assigner le résultat à la variable sc3.
- Afficher les 10 premières valeurs de sc2 et sc3.

In [ ]:
# series.sort_index()
# series.sort_values()

In [35]:
sc2 = series_custom.sort_index()
sc2.head(10)

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
Aloha (2015)                  19
American Sniper (2015)        72
American Ultra (2015)         46
Amy (2015)                    97
Annie (2014)                  27
dtype: int64

In [36]:
sc3 = series_custom.sort_values()
sc3.head(10)

Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

## Transformation de colonnes
- Normaliser la Series series_custom (échelle de notes de 0 à 100) pour obtenir une échelle de notes de 0 à 5 en divisant l'objet par 20.
- Assigner le nouvel objet Series à la variable series_normalized.
- Afficher le résultat.

In [40]:
# cours
series_custom / 10
import numpy as np
# additionner chaque valeur à un e autre
np.add(series_custom, series_custom)
# appliquer la focntion sinus
np.sin(series_custom)
# retourner la valeur max
np.max(series_custom)

100

In [42]:
series_normalized = series_custom /20
series_normalized.head()

Avengers: Age of Ultron (2015)    3.70
Cinderella (2015)                 4.25
Ant-Man (2015)                    4.00
Do You Believe? (2015)            0.90
Hot Tub Time Machine 2 (2015)     0.70
dtype: float64

## Comparer et filtrer
- Assigner à la variable criteria_one le critère des valeurs de series_custom supérieurs à 50.
- Assigner à la variable criteria_two le critère des valeurs de series_custom inférieurs à 75.
- Retourner un nouvel objet Series filtré qu'on nommera both_criteria qui contient seulement les valeurs pour lesquelles les 2 critères sont vrais.
- Afficher ce dernier résultat.

In [45]:
# cours
series_custom > 50
series_sup_50 = series_custom[series_custom > 50]
series_sup_50

Avengers: Age of Ultron (2015)                74
Cinderella (2015)                             85
Ant-Man (2015)                                80
The Water Diviner (2015)                      63
Top Five (2014)                               86
                                            ...
Mr. Holmes (2015)                             87
'71 (2015)                                    97
Two Days, One Night (2014)                    97
Gett: The Trial of Viviane Amsalem (2015)    100
Kumiko, The Treasure Hunter (2015)            87
Length: 94, dtype: int64

In [47]:
criteria_one = series_custom[series_custom > 50]
criteria_two = series_custom[series_custom < 75]
both_criteria = series_custom[criteria_one & criteria_two]
both_criteria

Avengers: Age of Ultron (2015)                                            74
The Water Diviner (2015)                                                  63
Unbroken (2014)                                                           51
Southpaw (2015)                                                           59
Insidious: Chapter 3 (2015)                                               59
The Man From U.N.C.L.E. (2015)                                            68
Run All Night (2015)                                                      60
5 Flights Up (2015)                                                       52
Welcome to Me (2015)                                                      71
Saint Laurent (2015)                                                      51
Maps to the Stars (2015)                                                  60
Pitch Perfect 2 (2015)                                                    67
The Age of Adaline (2015)                                                 54
The DUFF (2015)                                                           71
Ricki and the Flash (2015)                                                64
Unfriended (2015)                                                         60
American Sniper (2015)                                                    72
The Hobbit: The Battle of the Five Armies (2014)                          61
Paper Towns (2015)                                                        55
Big Eyes (2014)                                                           72
Maggie (2015)                                                             54
Focus (2015)                                                              57
The Second Best Exotic Marigold Hotel (2015)                              62
The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)    67
Escobar: Paradise Lost (2015)                                             52
Into the Woods (2014)                                                     71
Inherent Vice (2014)                                                      73
Magic Mike XXL (2015)                                                     62
Woman in Gold (2015)                                                      52
The Last Five Years (2015)                                                60
Jurassic World (2015)                                                     71
Minions (2015)                                                            54
Spare Parts (2015)                                                        52
dtype: int64

## Alignement des données
- Créer la Series rt_critics qui index les valeurs des notes de la colonne RottenTomatoes (notes des critiques) avec comme index le nom des films (colonne FILM).
- Créer la Series rt_users qui index les valeurs des notes de la colonne RottenTomatoes_User (note des utilisateurs) avec comme index le nom des films (colonne FILM).
- rt_critics et rt_users sont donc 2 objets Series contenant la moyenne des notes des critiques et des utilisateurs pour chaque film.
- Puisque chaque Series utilise le même index (correspondant aux noms des films), utiliser des opérations mathématiques pour retourner la moyenne des notes des critiques et des utilisateurs pour chaque film.
- Assigner la Series résultante à la variable rt_mean.
- Afficher le résultat.

In [54]:
rt_critics = Series(fandango["RottenTomatoes"].values, index= fandango["FILM"])
rt_users = Series(fandango["RottenTomatoes_User"].values, index= fandango["FILM"])
rt_mean = (rt_critics + rt_users) / 2
rt_mean

FILM
Avengers: Age of Ultron (2015)               80.0
Cinderella (2015)                            82.5
Ant-Man (2015)                               85.0
Do You Believe? (2015)                       51.0
Hot Tub Time Machine 2 (2015)                21.0
                                             ...
Mr. Holmes (2015)                            82.5
'71 (2015)                                   89.5
Two Days, One Night (2014)                   87.5
Gett: The Trial of Viviane Amsalem (2015)    90.5
Kumiko, The Treasure Hunter (2015)           75.0
Length: 146, dtype: float64

In [63]:
sup_90 = rt_mean[rt_mean >= 90]
sup_90.sort_values(ascending=False)

FILM
Song of the Sea (2014)                         95.5
Wild Tales (2014)                              94.0
Amy (2015)                                     94.0
Inside Out (2015)                              94.0
Seymour: An Introduction (2015)                93.5
The Salt of the Earth (2015)                   93.0
Mad Max: Fury Road (2015)                      92.5
Selma (2014)                                   92.5
Straight Outta Compton (2015)                  92.0
About Elly (2015)                              91.5
Mission: Impossible â€“ Rogue Nation (2015)    91.0
The Imitation Game (2014)                      91.0
What We Do in the Shadows (2015)               91.0
Red Army (2015)                                91.0
Gett: The Trial of Viviane Amsalem (2015)      90.5
The End of the Tour (2015)                     90.5
Tangerine (2015)                               90.5
Shaun the Sheep Movie (2015)                   90.5
Phoenix (2015)                                 90.0
dtype: float64