In [6]:
import numpy as np

world_alcool = np.genfromtxt("alcool.csv", delimiter =",", dtype="U75", skip_header = 1)

In [7]:
world_alcool

array([['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ['1985', 'Africa', "Cte d'Ivoire", 'Wine', '1.62'],
       ...,
       ['1986', 'Europe', 'Switzerland', 'Spirits', '2.54'],
       ['1987', 'Western Pacific', 'Papua New Guinea', 'Other', '0'],
       ['1986', 'Africa', 'Swaziland', 'Other', '5.15']], dtype='<U75')

### effectuer des comparaisons

In [8]:
vector = np.array([5, 10, 15, 20])
vector == 10

array([False,  True, False, False])

In [20]:
matrix = np.array([[2, 5, 20],[20,50,30], [34, 99, 45]])
matrix == 50

array([[False, False, False],
       [False,  True, False],
       [False, False, False]])

In [15]:
countries_canada = (world_alcool[:,2] == "Canada")
countries_canada

array([False, False, False, ..., False, False, False])

In [18]:
years_1984 = (world_alcool[:,0] == "1984")
years_1984

array([False, False, False, ..., False, False, False])

### selectionner des éléments

In [19]:
equal_to_ten = (vector == 10)
print(vector[equal_to_ten])

[10]

In [24]:
equal_to_vingt = (matrix[:,1] == 5)
print(matrix[equal_to_vingt,:])

[[ 2  5 20]]

In [25]:
country_is_algeria = (world_alcool[:,2] == "Algeria")

In [26]:
print(world_alcool[country_is_algeria,:])

[['1984' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1987' 'Africa' 'Algeria' 'Beer' '0.17']
 ['1987' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1986' 'Africa' 'Algeria' 'Wine' '0.1']
 ['1984' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Beer' '0.16']
 ['1989' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1989' 'Africa' 'Algeria' 'Wine' '0.23']
 ['1986' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1984' 'Africa' 'Algeria' 'Wine' '0.12']
 ['1985' 'Africa' 'Algeria' 'Beer' '0.19']
 ['1985' 'Africa' 'Algeria' 'Other' '0']
 ['1986' 'Africa' 'Algeria' 'Beer' '0.18']
 ['1985' 'Africa' 'Algeria' 'Wine' '0.11']
 ['1986' 'Africa' 'Algeria' 'Other' '0']
 ['1989' 'Africa' 'Algeria' 'Other' '0']
 ['1987' 'Africa' 'Algeria' 'Other' '0']
 ['1984' 'Africa' 'Algeria' 'Beer' '0.2']
 ['1985' 'Africa' 'Algeria' 'Spirits' '0.01']
 ['1987' 'Africa' 'Algeria' 'Wine' '0.1']]

In [27]:
country_algeria = (world_alcool[country_is_algeria,:])

In [30]:
years_1984 = (world_alcool[:,0] == "1984")
total_years_1984 = (world_alcool[years_1984,:])

In [31]:
print(total_years_1984)

[['1984' 'Africa' 'Nigeria' 'Other' '6.1']
 ['1984' 'Eastern Mediterranean' 'Afghanistan' 'Other' '0']
 ['1984' 'Americas' 'Costa Rica' 'Wine' '0.06']
 ...
 ['1984' 'Europe' 'Latvia' 'Spirits' '7.5']
 ['1984' 'Africa' 'Angola' 'Wine' '0.57']
 ['1984' 'Africa' 'Central African Republic' 'Wine' '0.46']]

In [35]:
years_1985 = world_alcool[world_alcool[:,0]== "1985"]

In [36]:
print(years_1985)

[['1985' 'Africa' "Cte d'Ivoire" 'Wine' '1.62']
 ['1985' 'Africa' 'Angola' 'Spirits' '0.39']
 ['1985' 'Western Pacific' "Lao People's Democratic Republic" 'Beer' '0']
 ...
 ['1985' 'Western Pacific' 'Singapore' 'Spirits' '0.64']
 ['1985' 'Europe' 'Slovakia' 'Wine' '2.6']
 ['1985' 'South-East Asia' 'India' 'Spirits' '1.24']]

### effectuer des comparaisons avec plusieur conditions

In [37]:
vector

array([ 5, 10, 15, 20])

In [38]:
equalt_to_ten_and_five = (vector == 5) & (vector==10)
equalt_to_ten_and_five

array([False, False, False, False])

In [40]:
# | ou or
equalt_to_ten_and_five = (vector == 5) | (vector==10)
equalt_to_ten_and_five

array([ True,  True, False, False])

In [47]:
algeria_and_1986 = (world_alcool[:,2] == "Algeria") & (world_alcool[:,0] == "1986")

In [48]:
rows_algeria_and_1986 = world_alcool[algeria_and_1986,:]
rows_algeria_and_1986

array([['1986', 'Africa', 'Algeria', 'Wine', '0.1'],
       ['1986', 'Africa', 'Algeria', 'Spirits', '0.01'],
       ['1986', 'Africa', 'Algeria', 'Beer', '0.18'],
       ['1986', 'Africa', 'Algeria', 'Other', '0']], dtype='<U75')

### Remplacer des valeurs dans un tablea Numpy

In [49]:
vector

array([ 5, 10, 15, 20])

In [50]:
equalt_to_ten_and_five = (vector == 5) |(vector==10)
equalt_to_ten_and_five

array([ True,  True, False, False])

In [51]:
vector[equalt_to_ten_and_five] = 50
print(vector)

[50 50 15 20]

In [52]:
matrix

array([[ 2,  5, 20],
       [20, 50, 30],
       [34, 99, 45]])

In [53]:
second_columns_50 = matrix[:,1] == 50

In [54]:
second_columns_50

array([False,  True, False])

In [56]:
matrix[second_columns_50, 1]= 10
matrix

array([[ 2,  5, 20],
       [20, 10, 30],
       [34, 99, 45]])

In [62]:
world_alcool_2 = world_alcool
world_alcool_2

array([['1986', 'Western Pacific', 'Viet Nam', 'Wine', '0'],
       ['1986', 'Americas', 'Uruguay', 'Other', '0.5'],
       ['1985', 'Africa', "Cte d'Ivoire", 'Wine', '1.62'],
       ...,
       ['1986', 'Europe', 'Switzerland', 'Spirits', '2.54'],
       ['1987', 'Western Pacific', 'Papua New Guinea', 'Other', '0'],
       ['1986', 'Africa', 'Swaziland', 'Other', '5.15']], dtype='<U75')

In [66]:
columns_1986 = (world_alcool_2[:,0] == "1986")
world_alcool_2[columns_1986]= "2018"
# ou world_alcool_2[:,0][world_alcool_2[:,0]=="1986"]="2018"

In [67]:

print(world_alcool_2)

[['2018' '2018' '2018' '2018' '2018']
 ['2018' '2018' '2018' '2018' '2018']
 ['1985' 'Africa' "Cte d'Ivoire" 'Wine' '1.62']
 ...
 ['2018' '2018' '2018' '2018' '2018']
 ['1987' 'Western Pacific' 'Papua New Guinea' 'Other' '0']
 ['2018' '2018' '2018' '2018' '2018']]

In [70]:
world_alcool_2[:,3][world_alcool_2[:,3]=="Wine"]="Beer"

In [71]:
print(world_alcool_2)

[['2018' '2018' '2018' '2018' '2018']
 ['2018' '2018' '2018' '2018' '2018']
 ['1985' 'Africa' "Cte d'Ivoire" 'Beer' '1.62']
 ...
 ['2018' '2018' '2018' '2018' '2018']
 ['1987' 'Western Pacific' 'Papua New Guinea' 'Other' '0']
 ['2018' '2018' '2018' '2018' '2018']]